[submodule "Lex"]
	path = Lex
	url = https://github.com/elite-lang/Lex.git

[submodule "LR_Scanner"]
	path = LR_Scanner
	url = https://github.com/elite-lang/LR_Scanner.git

[submodule "RedApple"]
	path = RedApple
	url = https://github.com/elite-lang/RedApple.git

[submodule "tools"]
	path = tools
	url = https://github.com/elite-lang/tools.git
